// Specific CSS for your home-page
.carousel-item {
  text-align: center;
  img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
  }
}
.card-container {
  margin-top: 60px;
}
#renter-container-link, #renter-container-link:hover {
  text-decoration: none;
  color: #000;
}
.renter-wrap:hover h3, .renter-card:hover p {
  text-decoration: underline;
}