<div id="booking-form-content" class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Book this painting</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <%= simple_form_for [@painting, @booking], remote: true  do |f| %>
  <div class="modal-body">
      <%= f.input :start_date, as: :string, input_html: { type: :date } %>
      <%= f.input :end_date, as: :string, input_html: { type: :date } %>
      <div id="booking_form_cost">
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit "Create booking", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>