<div class="container">
  <div class="card-container">
    <% @paintings.each do |painting| %>
    <div class="painting-card">
      <%= link_to painting.title, painting_path(painting) %>
    </div>
    <% end %>
  </div>
</div>

<%= link_to "Add a new Painting", new_painting_path, class: 'btn btn-primary' %>

