<div class="container">
  <h1>All your bookings</h1>
    <div id = 'container'>
    <ul>
      <h4>Your booked paintings</h4>
      <% @bookings.each do |booking| %>
        <li>
          <%= link_to "#{booking.painting.title}- #{booking.start_date} | #{booking.end_date}", booking_path(booking) %>
        </li>
      <% end %>
    </ul>
    <ul>
      <h4>Bookings for your paintings</h4>
      <% @bookings_through_paintings.each do |booking| %>
        <li>
          <%= link_to "#{booking.painting.title}- #{booking.start_date} | #{booking.end_date}", booking_path(booking) %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= link_to "Back to all paintings", paintings_path %>

</div>