<div class="container my-4">
  <h1>Your bookings</h1>

  <div id="bookings-container">
    <div class="row">
      <div class="col">

        <%= render 'bookings_list', bookings:  @bookings_on_other_paintings, title: "Bookings for paintings:", empty_message: "You have not booked any paintings." %>

      </div>
      <div class="col">

        <%= render 'bookings_list', bookings:  @bookings_on_own_paintings, title: "You have booked:", empty_message: "No one has booked your paintings." %>

      </div>
    </div>
  </div>

  <div class="mt-2">
    <%= link_to "Back to all paintings", paintings_path, class: "btn btn-primary mt-3" %>
  </div>

</div>
