#art-banner{
  color: white;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  background-image: url('https://res.cloudinary.com/ds32iiece/image/upload/v1614260394/banner-img_vb8lra.jpg');
  padding: 150px 0;
}


#art-banner h1{
 color: white;
 font-size: 96px;
 line-height: 50px;
 margin-bottom: 30px;
}

#art-banner p{
  color: rgba(33,33,33,1);
  opacity: .7;
  font-size: 20px;
}


