.painting-card-container {
  margin-top: 60px;
}
.card .painting-card-content {
  // make the heights consistent for multiple cards on the page
  height: 26rem !important;
}
.painting-card-content {
  // for paintings on their own, make the height only as big as needed
  height: fit-content;

  &:hover {
    opacity: 0.8;
  }
  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
  a {
    text-decoration: none;
    color: #000;
    margin: 0 auto;

    &:hover {
      color: #000;
      text-decoration: none;
    }
    &:focus, .card-body:focus {
      outline: none;
    }
    .painting-card-body {
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 20px 15px 20px;

      p {
        margin-bottom: 0px;
      }
    }
  }
}
#fit-image img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
