.painting-card-container {
  margin-top: 60px;
}

.painting-card-content {
  box-shadow: 0, 0, 10px rgba(0, 0, 0, 0.2);

  &:hover {
    opacity: 0.8;
  }
  a {
    text-decoration: none;
    color: #000;
    margin: 0 auto;

    &:hover {
      color: #000;
      text-decoration: none;
    }
    &:focus, .card-body:focus {
      outline: none;
    }
    .card-body {
      min-height: 100px;

      p {
        margin-bottom: 0px;
      }
    }
  }
}
