.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  padding: 0 !important;
}
.mapboxgl-popup {
  img {
    object-fit: contain;
    height: auto;
  }
  .card-body {
    padding: 10px;

    h5 {
      font-size: 18px;
    }
  }
}
.mapboxgl-canvas:focus {
  outline: none;
}