.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  padding: 0 !important;
}
.mapboxgl-popup {
  img {
    object-fit: contain;
    height: auto;
  }
  .card-body {
    padding: 10px;

    h5 {
      font-size: 18px;
    }
  }
}
.mapboxgl-canvas {
  width: auto !important;
  height: 100% !important;
}
.mapboxgl-canvas:focus {
  outline: none;
}
#map {
  position: sticky;
  top: 0;
  width: 50%;
  height: auto;
}

@media(max-width: 1200px) {
  .page-wrapper {
    flex-direction: column;
  }
}