.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  transition: 1s background-color ease;
  opacity: 1;
  width: auto;

  .navbar-lewagon h2 {
    color: black;
    font-family:  "Reem Kufi", "Helvetica", "sans-serif";;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-brand img {
    width: 130px;
    height: auto;
    padding-left: 6px;
    box-shadow:0 0 0.3 black;
  }
}
.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: 6px;
}
.nav-link {
  padding-right: 10px;
  margin-right: 24px;
  padding-bottom: 20px;
  font-family: serif;
  font-size: 15px;
  font-weight: bold;
  color:#fff;
  font-family:  "Reem Kufi", "Helvetica", "sans-serif";
}
#navbarDropdown {
  box-shadow: 0 0 0.5px black;
  size: 20%;
}
.nav-link {
  color: black;
  padding-top: 24px;

  &:hover {
    font-weight: bold;
    color: rgb(44, 43, 43);
    opacity: 0.6;
  }
}
