#bookings-container {
  a, a:hover {
    color: #000;
    text-decoration: none;

    .list-group-item {
      transition: background 0.3s ease;
      &:hover {
        background-color: #eee;
      }
    }
  }
}
