#bookings-container {
  a, a:hover {
    color: #000;
    text-decoration: none;

    .ul-title-painting {
      width: 80px;
    }

    .list-group-item {
      transition: background 0.3s ease;
      &:hover {
        background-color: #eee;
      }
      .booking-list-item-image {
        width: 80px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
